.input-group {
  padding: 20px;
  border-bottom: 1px solid #666;
  max-width: 500px;
}

.input-group input {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}